:root {
  --primary-color: #0055ff;
  --secondary-color: #ff502f;
  --background-color: #f9fbff;
  --shadow-color: #efefef;
}

.App {
  text-align: center;
}

.content {
  padding-top: 75px;
  padding-bottom: 75px;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0;
  align-content: start;
  transition: all 0.5s ease;
}

.todo-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 0;
  width: 75%;
  cursor: pointer;
}

.todo-list {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--shadow-color);
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
  transition: all 0.5s ease;
}

.dashboard .todo-list {
  width: 80%;
}

.dashboard .todo-form {
  width: 80%;
}

.todo-menu .todo-form {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashboard .todo-list .todo-task {
  width: 100%;
}

.todo-menu {
  width: 100%;
  background-color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  cursor: default;
}

.todo-title {
  display: flex;
  align-items: center;
}

.todo-description {
  display: block;
  margin-left: 30px;
  text-align: left;
}

.todo-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.todo-delete {
  align-self: flex-end;
  cursor: pointer;
}

.todo-form {
  width: 37.5%;
  position: relative;
  height: 51px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s ease;
}

.todo-form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  background-color: inherit;
  padding-top: 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

.todo-form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.todo-form label::after {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.task-content {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.todo-form input:focus + .task-label .task-content,
.todo-form input:valid + .task-label .task-content {
  transform: translateY(-150%);
  font-size: 14px;
}

.todo-form input:focus + .task-label::after,
.todo-form input:valid + .task-label::after {
  transform: translateX(0%);
}

.forum {
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
  transition: all 0.5s ease;
}

.dashboard .forum {
  width: 80%;
}

.dashboard .forum-header {
  width: 80%;
}

.forum-header {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  text-align: center;
  width: 50%;
  transition: all 0.5s ease;
  justify-content: center;
}

.forum-post {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.post-header {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
}

.post-title {
  display: flex;
  align-self: flex-start;
  text-align: left;
}

.post-text-short {
  display: flex;
  align-self: flex-start;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
}

.post-text-long {
  display: flex;
  align-self: flex-start;
  text-align: left;
  min-height: 50px;
  margin-bottom: 20px;
}

.post-image {
  max-width: 100%;
  margin-bottom: 15px;
}

.post-footer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: right;
  height: 80px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.post-footer-btns {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
}

.post-report {
  display: flex;
  align-self: flex-end;
  text-align: right;
  margin-top: 10px;
}

.post-delete {
  display: flex;
  align-self: flex-end;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.post-hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: stretch;
}

.comment-input {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  display: block;
  transition: all 0.5s ease;
}

.comment-section {
  margin: auto;
  width: 50%;
  align-items: left;
  display: flex;
  flex-direction: column;
  padding: 30px;
  transition: all 0.5s ease;
}
.comment-button {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 120px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 10px;
}

.comment-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.comment-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.comment-button:hover span {
  padding-right: 25px;
}

.comment-button:hover span:after {
  opacity: 1;
  right: 0;
}

.comment-textarea {
  min-height:80px;
}

.class-header {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.class-list {
  margin: auto;
  text-align: center;
  width: 300px;
  transition: all 0.5s ease;
}

.profile-header {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.profile-details {
  text-align: center;
  margin-bottom: 50px;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.login-button {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 120px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.login-button:hover span {
  padding-right: 25px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}

.post-button {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
  margin: auto;
}

.post-button:hover {
  background-color: white;
  color: var(--primary-color);
  text-align: center;
}

.post-link {
  width: 100%;
}

.addpost-input {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  display: block;
}

.addpost-title {
  height: 17px;
  resize: none;
}

.addpost-text {
  min-height: 120px;
}

.addpost-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.addpost-file + label {
  color: white;
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  min-width: 120px;
}

.addpost-file + label span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.addpost-file + label span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.addpost-file + label:hover span {
  padding-right: 25px;
}

.addpost-file + label:hover span:after {
  opacity: 1;
  right: 0;
}

.addpost-image {
  width: 100%;
  display: none;
  align-self: center;
}

.addpost-image-active {
  margin-top: 15px;
  display: block;
}

.addpost-button {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 150px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 15px;
}

.addpost-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.addpost-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.addpost-button:hover span {
  padding-right: 25px;
}

.addpost-button:hover span:after {
  opacity: 1;
  right: 0;
}

.like-button {
  cursor: pointer;
}

.like-checkbox {
  display: none;
}

.joinclass-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.joinclass-button {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 140px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
}

.joinclass-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.joinclass-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.joinclass-button:hover span {
  padding-right: 25px;
}

.joinclass-button:hover span:after {
  opacity: 1;
  right: 0;
}

.joinclass-submit {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
}

.joinclass-submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.joinclass-submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.joinclass-submit:hover span {
  padding-right: 25px;
}

.joinclass-submit:hover span:after {
  opacity: 1;
  right: 0;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  height: 48px;
  width: 48px;
  color: white;
}

.nav-link {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
}

.nav-text {
  display: inline;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: 0.3s all;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: 0.3s all;
}

.menu-enter {
  opacity: 0;
  transform: translateY(-50px);
}
.menu-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.3s ease all;
}
.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.3s ease all;
}

input[type=file] {
  font-family: 'Lato', sans-serif;
}

input[type=checkbox] {
  vertical-align: bottom;
  margin-right: 10px;
  font-size: 10px;
  cursor: pointer;
}

hr {
  border: none;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  height: 1px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 50px;
  box-shadow: 0 3px 2px -1px rgba(0,0,0,.2);
  z-index: 69;
}

textarea {
  width: 100%;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  resize: vertical;
}

input {
  font-family: 'Lato', sans-serif;
}

button {
  font-family: 'Lato', sans-serif;
  transition-duration: 0.3s;
  border: none;
}

select {
  font-family: 'Lato', sans-serif;
  padding: 5px;
  margin-bottom: 15px;
  min-width: 200px;
}

li {
  float: left;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

@media screen and (max-width: 1800px) {
  .nav-text {
    display: none;
  }
  .forum, .forum-header, .todo-list, .comment-input, .comment-section, .addpost-input {
    width: 65%;
  }
  .todo-form {
    width: 48.75%;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard .todo-form {
    display: none;
  }

  .dashboard .todo-list {
    display: none;
  }
  .dashboard {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) { 
  .forum, .forum-header, .comment-input, .comment-section, .addpost-input {
    width: 80%;
  }
}